<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bacs Debit Grabem Purchase</title>
    <link rel="stylesheet" href="styles.css" title="" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>

    <script>

      function get_user_param_from_url( name, url ) {
          if (!url) url = location.href;
          name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
          var regexS = "[\\?&]"+name+"=([^&#]*)";
          var regex = new RegExp( regexS );
          var results = regex.exec( url );
          return results == null ? null : results[1];
      }
      
      $(document).ready(function(){

        var url_param_success = (get_user_param_from_url('success'));
        if(url_param_success == 'true'){
          $('#message').html('<br/><b style="color:green;padding: 5px; border: 1px solid #ccc; margin-bottom: 28px!important;">Thanks! Payment has been completed successfully.</b><br/><br/>');
        }
        var url_param_cancel = (get_user_param_from_url('cancel'));
        if(url_param_cancel == 'true'){
          $('#message').html('<br/><b style="color:red;padding: 5px; border: 1px solid #ccc; margin-bottom: 28px!important;">Error: Payment cancelled.</b><br/><br/>');
        }

      });


    </script>

  </head>
  <body>
    <div id="main">
      <div id="container">
        <div id="panel">
          <div id="message"></div>
          <h1>Grabem Bacs Debit Subscription</h1>
          <form action="redirect" method="POST">
          <img
          src="images/grabem_logo.jpg"
          />
          <button type="submit">Start Your Subscription</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
